* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

nav > img {
    max-height: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
}

nav > ul {
    display: flex;
}

nav > ul > li > a {
    padding: 1.5vw;
    font-weight: 700;
    padding-left: 2vw;
    padding-right: 2vw;
}

nav > ul > li > a:hover {
    background-color: grey;
    transition: 250ms;
}